#menuRoot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

h3 {
    margin: 0px;
}

.foodContainer {
    border-top: solid white 1px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 125px;
    width: 100%;
}